/*  Base Element Styles & Classes */
body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #e0ffff;
}

header {
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  background: #8C158C;
  background: -webkit-linear-gradient(bottom, #59A4D4, #8C158C);
  background: -moz-linear-gradient(bottom, #59A4D4, #8C158C);
  background: linear-gradient(to top, #59A4D4, #8C158C);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
}

footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  background: #8C158C;
  background: -webkit-linear-gradient(bottom, #8C158C, #59A4D4);
  background: -moz-linear-gradient(bottom, #8C158C, #59A4D4);
  background: linear-gradient(to top, #8C158C, #59A4D4);
  -webkit-box-shadow: 0px -3px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -3px 15px 0px rgba(0,0,0,0.5);
}

h1 {
  margin-top: 0;
  padding-top: 18.72px;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

h2 {
  margin-bottom: 0;
}

h3 {
  padding-bottom: 15px;
}

h4 {
  padding: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

.link {
  text-decoration: underline;
  color: blue;
}

.subtitle {
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
}

/* intro section */

.intro {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px auto;
  align-items: center;
}

.main-image {
  width: 100%;
  height: auto;
  max-width: 408.75px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
  grid-area: main-img;
}

.intro-text {
  padding: 10px;
  grid-area: text;
}

.second-image {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
  grid-area: second-img;
}

/* Embedded map styles */
/* responsive style adapted from W3 Schools https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
.map-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  position: relative;
  max-height:500px;
  max-width:600px;
}

.map-title {
  margin-bottom: 0;
}

.gmap-canvas {
  position: relative;
  width: 100%;
  padding-top: 75%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.citation {
  font-size: .75em;
  float: right;
}

/*  the property styles */
.section {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.section-text {
  padding: 10px;
}

.photo {
  width: 100%;
  height: auto;
  max-width: 384px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

/* photo gallery styles */
.gallery {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image-container {
  padding: 5px;
}

.image {
  width: 100%;
  height: auto;
}

/* media queries */

@media (min-width: 768px) {

  .intro {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
      "main-img text"
      "main-img second-img";
  }

  .intro-text {
    margin: 0;
  }

  .flower {
    flex-direction: row;
  }

  .plantation {
    flex-direction: row-reverse;
  }

}
